# Base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=engineeringstore

# Conekta
CONEKTA_PRIVATE_KEY=
CONEKTA_PUBLIC_KEY=

# Facturama
FACTURAMA_MODE=sandbox
FACTURAMA_API_USER=
FACTURAMA_API_PASSWORD=
FACTURAMA_ISSUER_RFC=
FACTURAMA_EXPEDITION_PLACE=
FACTURAMA_DEFAULT_SERIE=

# Email
APP_EMAIL_FROM=no-reply@tu-dominio.com
APP_EMAIL_FROM_NAME=EngineeringShop
APP_EMAIL_BCC=
